@import '_config.scss';

@import './scss/grid.scss';
@import './scss/color.scss';

@import './scss/components.scss';
@import './scss/wrap.scss';



.shade {
  transition:all .3s;
  opacity:.4;
}

.border {
  border-radius:25px;
  border:1px solid black;
  margin:10px;
  color:violet;
}

/////////////////////* animation *////////////////////
.fadeIn {
  //@include prefix(animation, fadeIn ease, moz o ms webkit);
  transition:.4s;
  opacity:.5;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}


%help {
  //sert de point de repère lors de creation de component
  padding:20px;
  margin:10px;
  border-radius:0 12.5px 0 12.5px;
  width:200px;
}

.helper {
  @extend %help;
  background-color:$darken;
  color:invert($darken);
}
