
.wrap {
  margin:0;
  background-attachment:fixed;
}
.wrap.inscription {
  //clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  @extend %resetBackrground;
  display:inline-block;
}
.wrap-home {
  background-attachment:inherit;
  @extend %resetBackrground;
  height:$hight;
}
