@import '../../_config.scss';
@import '../base/color.scss';


//buttons
%button {
  border-radius:4px;
  cursor:grab;
  padding:5px;
  text-transform:uppercase;
  @include prefix(transition, all .3s,webkit moz o ms);
  &:hover:not(.shade) {
    @include prefix(transform, scale(1.05),webkit moz o ms);
  }
  &:active {
    @include prefix(transform, scale(1),webkit moz o ms);
  }
}

%border {
  //no short hand..
  border-top-left-radius: 15px 33px;
  border-top-right-radius: 35px 62px;
  border-bottom-left-radius: 26px 98px;
  border-bottom-right-radius: 41px 153px;
}

%formulaire {
  font-size:1.5rem;
  padding:5rem;
  color:white;
  background:#111111d6;
  fieldset {
    border:none;
    //need placeholder wrap
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
  }
  input {
    transition:all 1s;
    transition-timing-function:ease-in-out;
    line-height:2rem;
    text-indent:1rem;
    letter-spacing:1px;
    font-size:.9rem;
    color:inherit;
    width:100%;
    border:none;
    background:transparent;
  }
}

%input {
  &:invalid {
    border-bottom:2px solid $red;
  }
  &:valid {
    border-bottom:2px solid $green;
  }
  &:focus {
    border-bottom:2px solid $snow;
  }
}



%help {
  //sert de point de repère lors de creation de component
  padding:20px;
  margin:10px;
  border-radius:0 12.5px 0 12.5px;
  width:200px;
}
