// api etc
@import url('https://fonts.googleapis.com/css2?family=Judson&family=Permanent+Marker&family=Russo+One&display=swap');
// police
$marker: 'Permanent Marker', cursive;
$judson: 'Judson', serif;
$russo: 'Russo One', sans-serif;
